*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 12px;
}
body{
    font-family: "Microsoft YaHei";
    font-size: 16px;
}
.D_cgw_navBar{
    background: #e4e6d8;
    height: 80px;
}
.D_cgwLogo{
    width: 120px;
}
.D_btn_cgw{
    font-size: 30px;
    color:#47aa42;
}
#D_navbar-collapse_cgw{
    margin-top: 10px;
}
.D_cgWay{
    width:80%;
    position:relative;
    z-index: 3;
    margin-top: 80px;
}
.D_cTable{
   /*background: #ccc;*/
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    transform: skew(0deg);
 /* border-collapse: collapse ;*/
}
.D_cTable tr td{
    position:relative;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow:3px -3px 3px 2px rgba(0,236,15,.75);
    /*background: #082e15;*/
}
.D_cTable>tr>td>a>img{
    opacity: .3;
   position:absolute;
    left:0;
    top:0;
}
.D_fCon{

}
.D_f1{
position:absolute;
    left:16px;
    top:0;
    opacity: 0;
}
.D_f2{
    position:absolute;
    left:16px;
    top:65px;
    opacity: 0;
}
.D_f4{
    position:absolute;
    left:16px;
    top:130px;
    opacity: 0;
}
.D_f3{
    position:absolute;
    left:16px;
    top:130px;
    opacity: 0;
}
.D_f5{
    position:absolute;
    left:16px;
    top:195px;
    opacity: 0;
}
.D_f6{
    position:absolute;
    left:16px;
    top:195px;
    opacity: 0;
}
.D_f7{
    position:absolute;
    left:16px;
    top:260px;
    opacity: 0;
}
.D_f8{
    position:absolute;
    left:16px;
    top:258px;
    opacity: 0;
}
.D_f9{
    position:absolute;
    left:16px;
    top:323px;
    opacity: 0;
}
.D_f10{
    position:absolute;
    left:16px;
    top:384px;
    opacity: 0;
}
.D_f11{
    position:absolute;
    left:16px;
    top:384px;
    opacity: 0;
}
.D_f12{
    position:absolute;
    left:16px;
    top:392px;
    opacity: 0;
}
.D_f13{
    position:absolute;
    left:16px;
    top:457px;
    opacity: 0;
}
.D_f14{
    position:absolute;
    left:16px;
    top:448px;
    opacity: 0;
}
.D_f15{
    position:absolute;
    left:16px;
    top:514px;
    opacity: 0;
}
.D_f16{
    position:absolute;
    left:16px;
    top:565px;
    opacity: 0;
}
.D_f17{
     position:absolute;
     left:16px;
     top:615px;
     opacity: 0;
 }
.D_f18{
    position:absolute;
    left:16px;
    top:678px;
    opacity: 0;
}
#D_coC{
    position:absolute;
    background: #f00;
}
.D_earthM{
    width: 100%;
    height:500px;
    background: rgba(105,245,45,.78);
    opacity: .4;
    left:0;
    top:0;
    z-index: 2;
}
.D_earthM>div:first-child>img{
    position: absolute;
    left:20%;
    top:39%;
    width:50%;
}
.D_earthM>div:last-child>img{
    position: absolute;
    right:2%;
    top:15%;
    width:30%;
}
.D_earthMO{
    position:absolute;
    z-index: -1;
}
#D_navbar-collapse_cgw>ul>li{
    font-size: 45px;
    color:yellowgreen;
    font-weight: bold;
}
/*.D_CgCx{
    position:absolute;
    left: 0;
    top:100px;
}
.D_CBg{
    border: 5px dashed #f2c12a;
    width: 350px;
    height: 350px;
    transform: skew(61deg) rotate(720deg);
    position:absolute;
    left:507px;
    top:-20px;
    border-radius: 50%;
}
.D_CPc{
    border: 5px dashed #f2c12a;
    width: 350px;
    height: 400px;
    position:absolute;
    left:178px;
    top:117px;
    border-radius: 50%;
}*/
/*
.D_cLogo{
    width: 226px;
    border: 1px solid #000;
    position:absolute;
    left:50%;
    top:50%;
}
.D_cIcon{

}
.D_cPlan{
    position:absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100px;
}
.D_cPlan>div:first-child{
    position:absolute;
    top:50%;
    left:50%;
}
.D_cPlan>div:nth-child(2){
    position:absolute;
    top:53%;
    left:53%;
}
.D_cPlan>div:nth-child(3){
    position:absolute;
    top:56%;
    left:56%;
}
.D_cPlan>div:nth-child(4){
    position:absolute;
    top:58%;
    left:58%;
}
.D_cPlan>div:nth-child(5){
    position:absolute;
    top:60%;
    left:60%;
}
.D_cPlan>div:nth-child(6){
    position:absolute;
    top:60%;
    left:65%;
}
.D_cPractice{
    position:absolute;
    top:20%;
    left:30%;
}
.D_cGeography{
    position:absolute;
    top:60%;
    left:80%;
}
*/
