*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 12px;
}
body{
    font-family: "微软雅黑";
    font-size: 12px;
}
.carousel-inner.D_bannerM{
    text-align: center;
}
.carousel-inner.D_bannerM img{
    width: 100%;
}
.carousel-indicators.D_circleM>li.active{
    transition: all .3s;
    transform: scale(1.8) rotate(360deg);
    border-radius: 50%;
    border:3px dashed #ccc;
    box-shadow: -1px -1px 3px 3px rgba(0,0,13,.789);
    /*background: #cddd33;*/
}
.carousel-caption.D_lf_map>div{
    position: absolute;
    width: 65%;
    bottom: 60%;
    left: 50%;
    background: #fff;
    opacity:0;
    /*width: 100%;*/
    font-size: 30px;
    border-radius: 7px;
    color:#000;
    text-align: left;
    padding-left: 5px;
  /* transform: skew(45deg 40deg);*/
}
/*.carousel-caption.D_lf_map .D_lf_mCir{
   position:absolute;
    width: 90px;
    height: 90px;
    left:-50px;
    bottom: 108px;
    background: #008000;
    opacity: .8;
}*/
.D_lf_nav{
    background:-webkit-linear-gradient(45deg,#c0dd33,#006660);
    text-align: center;
    padding: 70px;
}
.D_lf_well{
   background: -webkit-linear-gradient(30deg,#cddd33,#006660)
}
.D_lf_well>ul>li{
    color:white;
}
.D_lf_m_cont{
    position: relative;
    clear: both;
    height:800px;
}
.D_lf_m_cont>h2>a{
     color: #006633;
     font-size: 70px;
     margin: 30px;
    position: absolute;
    left: -20%;
    top:0;
 }
.D_lf_m_cont>h2>a:hover,.D_lf_m_cont>h2>a:active,.D_lf_m_cont>h2>a:link,.D_lf_m_cont>h2>a:visited{
text-decoration: none;
}
.D_lf_mlp{
    float: left;
   position: absolute;
    left: 0;
    top:120px;
    opacity: 0.3;
    box-shadow: -1px -1px 3px 3px rgba(14,15,9,.2789);
    z-index: 3;
}
.D_lf_mrp{
    float: right;
    position: absolute;
    right: 0;
    top:120px;
    opacity: 0.3;
    box-shadow: -1px -1px 3px 3px rgba(14,15,9,.2789);
    z-index: 3;
}
.D_lf_skl{
    width:50px;
    height:10px;
    position:absolute;
    background: rgba(227,246,13,.789);
    left:45px;
    top:120px;
    opacity: 0;
   /* transform: skew(45deg);*/
    box-shadow: -1px -10px 3px 3px rgba(227,246,13,.789);
}
.D_lf_skr{
    width:10px;
    height:50px;
    position:absolute;
    background: rgba(227,246,13,.789);
    right:-10px;
    top:250px;
    opacity: 0;
    /* transform: skew(45deg);*/
    box-shadow: -1px -10px 3px 3px rgba(227,246,13,.789);
}
@media (max-width: 768px){
    .D_circleM{
        left:40%;
        bottom: 10px;
        width: 260px;
        background: #ccc;
        border-radius: 8px;
        opacity: .7;
    }
    .carousel-indicators.D_circleM>li{
        transition: all .2s;
        width: 40px;
        height: 40px;
        margin: 3px;
        background: none;
    }
    .D_lf_m_cont>h2>a{
       font-size: 40px;
    }
}
@media (min-width: 768px){
    .D_circleM{
        left:40%;
        bottom: 5%;
        width: 400px;
        background: #ccc;
        border-radius: 8px;
        opacity: .7;
    }
    .carousel-indicators.D_circleM>li{
        transition: all .3s;
        width: 80px;
        height: 80px;
        margin: 20px;
        background: none;
    }
}
@media (min-width: 992px){
    .D_circleM{
        left:40%;
        bottom: 10%;
        width: 490px;
        background: #ccc;
        border-radius: 8px;
        opacity: .7;
    }
    .carousel-indicators.D_circleM>li{
        transition: all .3s;
        width: 100px;
        height: 100px;
        margin: 30px;
        background: none;
    }
}
@media (min-width:1200px){
    .D_circleM{
        left:36%;
        bottom: 25%;
        opacity: .7;
        width: 580px;
        background: #ccc;
        border-radius: 8px;
    }
    .carousel-indicators.D_circleM>li{
        transition: all .3s;
        width: 120px;
        height: 120px;
        margin: 30px;
        background: none;
    }
}
